# Introduction

#### This tutorial is first of a series of tutorials notebooks for students who do not have any prior Python experience. The tutorials should not be considered an exhaustive text or replacement of any books on Python in any way. It is simply a playground notebook that allows you to quickly refer to some of the most commonly used functionalities. Because it is in a notebook format, you can get your hands-dirty and try tweaking the lines of codes themselves. This will hopefully make the learning experience more enjoyable. Do not worry about breaking anything. Since, you will either be running this one a remote machine one a "copy" of this notebook, or you will be cloning the source from the repo using git, you can not break anything even if you want to. You might break your own version, but you can always restart the remote instance of the code, or if you have cloned the repo, just simply re-clone it, and everything will be back to working state.

#### In this notebook we will be working on the following: 
#### (1) First we will learn about the different data-type in python.
#### (2) Then we will learn about the basic operations that can be performed on these data-types
#### (3) We will learn about Boolean data-type and Boolean operation.
#### (4) This will then lead us to comparison operators
#### (5) Finally, we will then learn about mixed data-types like Lists and Tuples.

### Data - types

In [1]:
x = 5 # "x" is called variable. In this case the variable "x" stores the int number 5.

In [2]:
type(x) # The "type" function takes an argument

int

### The second type of data that we will encounter is called "float". Floats data-type are required to express number that may have numbers after the decimal point.

In [3]:
y = 3.14 # Now "y" is a variable that stores the floating point number 3.14

In [4]:
type(y)

float

### The next data-type we will talk about is called string. This is denoted by "str". A str is any data that is not a number, or that is not meant to be a number.

In [5]:
a = "This is a string" ## Note the inverted quotes around the string. This makes a string, "a string".

In [6]:
type(a)

str

In [7]:
b = "1"

In [8]:
type(b)

str

### Conventional mathematical operations can be carried out on int and float type data. These are addition, subtraction, multiplication, division, modulus operation, and power operation. We will encouter each of them below:

### Addition: addition between two numbers is conducted by the "+" operator as shown below. It is pretty self explanatory

In [9]:
1 + 2

3

In [10]:
x = 4
y = 7
print(x + y) # print function allows you to display the quantity in the parenthesis on your screen.

11

### Addition works just as well for float data-type

In [11]:
print(3.14 + 2.1)

5.24

In [12]:
x = 5.1
y = 2.3
print(x + y)

7.3999999999999995

### Note that the above number may not be showing up to be 7.4. This is due to truncation error in python.

### Subtraction operator "-" is also very self explanatory

In [13]:
print(4-1)

3

In [14]:
x = 9.1
y = 6.2
print(x - y)

2.8999999999999995

### Multiplication operator is denoted by an asterisk "*"

In [15]:
x = 5
y = 3
print(x*y)

15

In [16]:
x = 8.1
y = 3.2
print(x*y)

25.92

### The division operator is denoted by a forward slash "/"

In [17]:
x = 10
y = 5
print(x/y)

2.0

In [18]:
print(3.2/4)

0.8

### Some operations also works for strings in python. For example the addition operator when applied on string is called "concatenation" operator. It simply joins the two strings together. This is a very useful tool as you will find out later, since it allows you to generate texts automatically using a code.

In [19]:
a = "PHYS"
b = " 191"
print(a + b)

PHYS 191

### Note that there is a space after the opening inverted quote in the variable b (line 2 in the cell above). This allows to put the space between "PHYS" and "191" in the end.

### The multiplication operator in the case of strings simply causes repeating concatenation of the same string. It is a much less used functionality of strings.

In [20]:
a = "HA"
print(a*10)

HAHAHAHAHAHAHAHAHAHA

### Note that the subtrction operator (-) and division (/) operator is not defined for strings, and using them on string will lead to errors

In [21]:
a = "AAAAA"
b = "A"
print(a - b)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [22]:
a = "AAAAA"
b = "A"
print(a/b)

TypeError: unsupported operand type(s) for /: 'str' and 'str'

### The next operator that we will learn is the power operator. This is also an operator that is only defined for numbers (int and float) and does not work for strings

In [23]:
a = 10
b = 2
print(a**b)

100

### The double-asterisk symbol denotes a power. In this case we are computing the second power of 10, which is 100. You can verify yourself that this does not work on string.

### The next operator we will talk about is the modulus operator. It gives the remainder of a division. This is denoted by a "%" symbol.

In [24]:
a = 9
b = 4
print(a%b)

1

### This has many use, for example it can let you easily check if a number is even or odd

In [25]:
x = 5
y = 8
print(x%2)
print(y%2)

1
0

### If the result is one the number is odd, if it is zero the number is even.

### The last operator we will learn is the floor division operator. This is denoted by a double-forward slash. It returns the nearest integer result of a division. If a number is exactly divisible by the denominator, then returns the quotient.

In [26]:
a = 9
b = 5
print(a//b) ## Gives the nearest integer to the actual result of the division.
print(a/b) ## Gives the actual result of the division.

1
1.8

## Bollean data-type, boolean operations, and comparison operators

### Apart from three types of data-type's discussed above (int, float, and str) there is a fourth type of data-type called the boolean or "bool". The bool data-type can have only two possible values "True", or "False".

In [27]:
x = True
y = False
type(x), type(y)

(bool, bool)

### Boolean variables have their own opertors, the "OR" operator, the "AND" operation, and the "NOT" operation. We demostrate them below

In [28]:
print(x or y) # If x is True, and y is False, then it is True that wither x "or" y is True

True

In [29]:
print(x and y) # If x is True, and y is False, then it is False that both x "and" y are true

False

In [30]:
not(x) # If x is True its opposite is False.

False

### All these may sound very weird, almost tautological. But it will be clear once we define comparison operators, which we do now.

### We can compare two numbers using the `<`, `>`, `==` operators. 
###  `a < b`: is equivalent to $a < b$
###  `a > b`: is equivalent to $a > b$
###  `a == b`: is equivalent to $a = b$
###  `a >= b`: is equivalent to $a \geq b$
###  `a <= b`: is equivalent to $a \geq b$

### We use these operators to compare between two numbers. The output of the coparison is a boolean, either `True` or `False`. See below:

In [31]:
x = 2
y = 4
x < y

True

### As we see the result of this comparison is True.

In [32]:
x == y

False

### As expected the result of the comparison is a `False` because $2 \neq 4$

### We will now see boolean operators (`and`, `or` and `not`) in use. The `and` operator is used to combine two different comparisons as follows:

In [33]:
a = 9
b = 4
c = 1
d = 6

In [34]:
(a > b) and (c < d)

True

### As you can see the above joint-comparison statement is gives the boolean `True` because both the individual comparisons are `True`. If even one of them was false, then the result will be a false, see below:

In [35]:
(a > b) and (c > d)

False

### This is because event though $a > b$ is correct, but $c > d$ is not. We can also use the `or` operator to test if either one of the is correct. This is done as follows:

In [36]:
(a > b) or (c > d)

True

### This is true becuase the first comparison is `True`. If both the statements are true then the result will still be `True`. The `not` operator is the simplest of all. It simple converts `True` to `False` and vice versa.

In [37]:
not(a>b)

False

### Which is False because $a > b$.

---------------------------------------------------------------------------------------

## Conditional statements:
### Now we are in a position to talk about conditional statements in Python which is one of the most important things to learn. The first conditional statement we will learn is called the `if` statement, which lets you run a code if some condition is satisfied. We will first do this using the coparison operator

In [38]:
a = 100
b = 50
if a > b:
    print("{} is greater than {}".format(a, b))

100 is greater than 50

### Notice that the conditional statement allows the indented part of the code (the `print`) statement to run because the condition is satisfied. Basically the `if` statement finds the comparison to be `True` and hence it alows the part under the `if` statement in indentation to run. Everything inside the indentation is part of the `if` condition. All lines will run only if this statement is satisfied. See below:

In [39]:
a = 100
b = 50
if a > b:
    print("{} is greater than {}".format(a, b))
    print("This line is also in the if statement")

100 is greater than 50
This line is also in the if statement

In [40]:
a = 100
b = 200
if a > b:
    print("{} is greater than {}".format(a, b))
    print("This line is also in the if statement")
print("This line is outside the if statement, and will run regardless of whether the if condition is true or not")

This line is outside the if statement, and will run regardless of whether the if condition is true or not

### What if you have to compare for multiple possibilities. Like lets say print something if a condition is satisfied or something `else` if the condition is not satisfied. We can of course do something like this:

In [41]:
a = 100
b = 50
if a > b:
    print("{} is greater than {}".format(a, b))
if a < b:
    print("{} is less than {}".format(a, b))

100 is greater than 50

### By changing the values of the number above you can see this of course works, except of course if you have $a = b$. But this reqires too much writing. One can simply use the `else` statement for such cases:

In [42]:
a = 100
b = 200
if a > b:
    print("{} is greater than {}".format(a, b))
else:
    print("{} is less than or equal to {}".format(a, b))

100 is less than or equal to 200

### Note that I had to use `less than or equal to` since else block of the code runs if the first condition is not satisfied. A more advanced way of dealing with this is shown below:

In [43]:
a = 100
b = 100
if a > b:
    print("{} is greater than {}".format(a, b))
elif a < b:
    print("{} is less than or equal to {}".format(a, b))
else:
    print("The numbers are equal")

The numbers are equal

### More information about the `if-else-elif` statements available in various online resource. Google is your friend. Here are some resources: https://tinyurl.com/y2ory2bd, https://www.w3schools.com/python/python_conditions.asp, and many more.